<link rel="stylesheet" href="./public/less/skate.css">
<script src="./public/libs/jquery.min.js"></script>
<script src="./scripts/skate.js"></script>
<div class="rolling">
    <ul class="banner_ul">
        <li style="display: none;"><a href="javascript:;"><img src="./public/images/banner1.jpg" alt=""></a></li>
        <li style="display: none;"><a href="javascript:;"><img src="./public/images/banner2.jpg" alt=""></a></li>
        <li><a href="javascript:;"><img src="./public/images/banner3.jpg" alt=""></a></li>
    </ul>
    <span class="left_button">&#xe604;</span>
    <span class="right_button">&#xe611;</span>
    <ul class="index_ul">
        <li><a href="javascript:;">1</a></li>
        <li><a href="javascript:;">2</a></li>
        <li style="border-top:4px red solid"><a href="javascript:;">3</a></li>
    </ul>
</div>